{{#if adj }}
    <button type="button" class="btn adjudicator-ui gender-{{ adj.gender }} region-{{ adj.region }}">
        <div class="flex-icon flex-icon hoverable">
            {{#if adj.locked}}
                <span class="glyphicon glyphicon-ok-circle" {{action 'unlockAdj'}} data-toggle="tooltip" data-placement="top" title="Click to unlock to this adj to this debate"></span>
            {{else}}
                <span class="glyphicon glyphicon-record" {{action 'lockAdj'}} data-toggle="tooltip" data-placement="top" title="Click to lock to this adj to this debate"></span>
            {{/if}}
        </div>
        <div class="flex-1">
            <span>{{ adj.name }},</span>
            <small class="text-uppercase">
            {{#each adj.institutions as |institution|}}
                {{ institution.name }}
            {{/each}}
            </small>
        </div>
        <div class="flex-icon flex-icon adj-rating hoverable">
            <span data-toggle="tooltip" data-placement="top" title="{{ adj.rating }}">{{ adj.get_rating }}</span>
        </div>
    </button>
{{/if }}