{{#if adj}}
    <div class="flex-1" data-toggle="tooltip" data-placement="bottom" title="{{ adj.name }} of {{ adj.institution.name }}">
        <span class="adj-name">
            {{ adj.short_name }}
        </span>
        <span class="text-uppercase adj-institution">
            {{ adj.institution.code }}
        </span>
    </div>
    <div class="flex-icon flex-icon adj-ranking hoverable">
        <span data-toggle="tooltip" data-placement="bottom" title="{{ adj.ranking }}">
            <strong>{{ adj.get_ranking }}</strong>
        </span>
    </div>
{{/if}}
