{{#if adj }}
    <button type="button" class="btn adjudicator-ui gender-{{ adj.gender }} {{ adj.region_classes }}">

        <div class="flex-icon flex-icon hoverable">
            {{#if adj.locked}}
                <span class="glyphicon glyphicon-ok-circle" {{action 'unlockAdj'}} data-toggle="tooltip" data-placement="top" title="Click to unlock to this adj to this debate"></span>
            {{else}}
                <span class="glyphicon glyphicon-record" {{action 'lockAdj'}} data-toggle="tooltip" data-placement="top" title="Click to lock to this adj to this debate"></span>
            {{/if}}
        </div>
        <div class="flex-1">
            <span data-toggle="tooltip" data-placement="top" title="{{ adj.name }}">{{ adj.short_name }},</span>
            <small class="text-uppercase">
            {{#each adj.institutions as |institution|}}
                <span data-toggle="tooltip" data-placement="top" title="{{ institution.name }}">{{ institution.name }}</span>
            {{/each}}
            </small>
        s:
        {{#each adj.strikedTeams as |team| }}
            t{{ team }}
        {{/each}}
        </div>
        <div class="flex-icon flex-icon adj-rating hoverable">
            <span data-toggle="tooltip" data-placement="top" title="{{ adj.rating }}">
                <strong>{{ adj.get_rating }}</strong>
            </span>
        </div>
    </button>
{{/if }}