{{#if adj}}
    <button type="button" class="btn adjudicator-ui gender-{{ adj.gender }} region-{{ adj.regions }} language-{{ adj.language }} ranking-display ranking-{{ adj.ranking }} locked-{{ adj.locked }}">
        <div class="flex-1" data-toggle="tooltip" data-placement="bottom" title="{{ adj.name }} of {{ adj.institution.name }}">
            <span class="adj-name">
                {{ adj.short_name }}
            </span>
            <span class="text-uppercase adj-institution">
                {{ adj.institution.code }}
            </span>
        </div>
        <div class="flex-icon flex-icon adj-ranking hoverable">
            <span data-toggle="tooltip" data-placement="bottom" title="{{ adj.ranking }}">
                <strong>{{ adj.get_ranking }}</strong>
            </span>
        </div>
    </button>
{{/if}}
