<div id="main" class="container-fluid">

  <div id="alerts-holder"></div>

  {{outlet}}

  <ul class="nav navbar-nav pull-left">
    <div class="form-group">
      {{input value=theFilter type='text' class="form-control col-sm-10" placeholder='Search the debates'}}
    </div>
  </ul>

  <ul class="nav navbar-nav pull-right">
    {{#if showingRegion }}
    <li class="nav-item">
      <ol class="breadcrumb">
          {{#each model.regions as |region-instance|}}
              <li><a href="#" class="region-display region-{{region-instance.id}}">{{region-instance.name}}</a></li>
          {{/each}}
      </ol>
    </li>
    {{/if}}
    {{#if showingLanguage }}
    <li class="nav-item">
      <ol class="breadcrumb">
        <li><a class="language-display language-1">EPL</a></li>
        <li><a class="language-display language-2">ESL</a></li>
        <li><a class="language-display language-3">EFL</a></li>
      </ol>
    </li>
    {{/if}}
    <li class="nav-item">
        {{#if showingRegion }}
          <a class="nav-link hoverable" onclick={{action "hideRegion"}}>Hide Region</a>
        {{else}}
          <a class="nav-link hoverable" onclick={{action "showRegion"}}>Show Region</a>
        {{/if}}
    </li>
    <li class="nav-item">
        {{#if showingGender }}
          <a class="nav-link hoverable" onclick={{action "hideGender"}}>Hide Gender</a>
        {{else}}
          <a class="nav-link hoverable" onclick={{action "showGender"}}>Show Gender</a>
        {{/if}}
    </li>
    <li class="nav-item">
        {{#if showingLanguage }}
          <a class="nav-link hoverable" onclick={{action "hideLanguage"}}>Hide Language</a>
        {{else}}
          <a class="nav-link hoverable" onclick={{action "showLanguage"}}>Show Language</a>
        {{/if}}
    </li>
    <li class="nav-item">
        {{#if showingRanking }}
          <a class="nav-link hoverable" onclick={{action "hideRanking"}}>Hide Rankings</a>
        {{else}}
          <a class="nav-link hoverable" onclick={{action "showRanking"}}>Show Rankings</a>
        {{/if}}
    </li>
  </ul>


  <table id="allocation" class="table table-bordered" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th {{action "sortBy" "venue"}} class="head-sortable head-venue" data-toggle="tooltip" data-placement="top" title="Venue">
          V {{#if sortAscending}}
            <span class="glyphicon glyphicon-chevron-up" active={{sortedByVenue}}></span>
          {{else}}
            <span class="glyphicon glyphicon-chevron-down" active={{sortedByVenue}}></span>
          {{/if}}
        </th>
        <th {{action "sortBy" "points"}} class="head-sortable head-points text-center" data-toggle="tooltip" data-placement="top" title="Points">
          P {{#if sortAscending}}
              <span class="glyphicon glyphicon-chevron-up" active={{sortedByPoints}}></span>
            {{else}}
              <span class="glyphicon glyphicon-chevron-down" active={{sortedByPoints}}></span>
            {{/if}}
        </th>
        <th {{action "sortBy" "weight"}} class="head-sortable head-weight" data-toggle="tooltip" data-placement="top" title="Weight">
          W {{#if sortAscending}}
              <span class="glyphicon glyphicon-chevron-up" active={{sortedByWeight}}></span>
            {{else}}
              <span class="glyphicon glyphicon-chevron-down" active={{sortedByWeight}}></span>
            {{/if}}
        </th>
        <th {{action "sortBy" "importance"}} class="head-sortable head-importance" data-toggle="tooltip" data-placement="top" title="Importance">
          VIP {{#if sortAscending}}
              <span class="glyphicon glyphicon-chevron-up" active={{sortedByImportance}}></span>
            {{else}}
              <span class="glyphicon glyphicon-chevron-down" active={{sortedByImportance}}></span>
            {{/if}}
        </th>
        <th class="head-og">OG</th>
        <th class="head-oo">OO</th>
        <th class="head-cg">CO</th>
        <th class="head-co">CG</th>
        <th class="head-language" data-toggle="tooltip" data-placement="top" title="Language Representation">RR</th>
        <th class="head-regional" data-toggle="tooltip" data-placement="top" title="Regional Representation">RR</th>
        <th class="head-gender" data-toggle="tooltip" data-placement="top" title="Gender Representation">GR</th>
        <th {{action "sortBy" "panel"}} class="head-adjudicators" data-toggle="tooltip" data-placement="top" title="Panel Strength">PS</th>
        <th class="head-panel">
          <div class="flex-1">
            Chair
          </div>
          <div class="flex-2">
            Panel
          </div>
          <div class="flex-1">
            Trainee
          </div>
          <div class="flex-icon-large">
            M
          </div>
        </th>
      </tr>
    </thead>
    <tbody>

    {{#each filteredDebates as |debate-instance|}}
        {{debate-ui debate=debate-instance adjudicators=model.adjudicators}}
    {{/each}}

    </tbody>
  </table>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Set Allocation Parameters</h4>
      </div>
      <div class="modal-body">
        <form>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">Quality Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="quality_fader"  class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="quality_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">Regional Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="regional_fader" class="form-control"  step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="regional_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">Language Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="language_fader" class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="language_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">Gender Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="gender_fader" class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="gender_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">teamhistory Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="teamhistory_fader" class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="teamhistory_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">adjhistory Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="adjhistory_fader" class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="adjhistory_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">teamconflict Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="teamconflict_fader" class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="teamconflict_fader" id="volume">50</output>
          </fieldset>
          <fieldset class="form-group row">
            <label for="adjconflict_fader" class="col-sm-3">adjconflict Weight</label>
            <div class="col-sm-8">
              <input type="range" min="0" max="100" value="50" id="adjconflict_fader" class="form-control" step="1" oninput="outputUpdate(value)">
            </div>
            <output class="col-sm-1" for="adjconflict_fader" id="volume">50</output>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{{unused-ui adjudicators=model.adjudicators }}
