<div id="main" class="container-fluid">

  <div class="row">
    <div class="col-sm-12">

      <div id="alerts-holder"></div>

      <div class="form-group col-sm-2">
        {{input value=theFilter type='text' class="form-control col-sm-10" placeholder='Search the debates'}}
      </div>

      <div class="btn-toolbar col-sm-10">

        {{#if showingRegion }}
        <div class="btn-group-sm btn-group">
          <button class="btn btn-default region-display region-9">Europe</button>
          <button class="btn btn-default region-display region-10">IONA</button>
          <button class="btn btn-default region-display region-6">ANZ</button>
          <button class="btn btn-default region-display region-7">North America</button>
          <button class="btn btn-default region-display region-8">Latin America</button>
          <button class="btn btn-default region-display region-2">South East Asia</button>
          <button class="btn btn-default region-display region-1">North Asia</button>
          <button class="btn btn-default region-display region-4">Sub-Continent</button>
          <button class="btn btn-default region-display region-3">Middle East</button>
          <button class="btn btn-default region-display region-5">Africa</button>
        </div>
        {{/if}}

        {{#if showingLanguage }}
        <div class="btn-group-sm btn-group btn-group-sm">
          <button class="btn btn-default language-display language-1">EPL</button>
          <button class="btn btn-default language-display language-2">ESL</button>
          <button class="btn btn-default language-display language-3">EFL</button>
        </div>
        {{/if}}

        <div class="pull-right btn-group btn-group-sm">
        {{#if showingRegion }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideRegion"}}>
            <span class="glyphicon glyphicon-eye-close"></span> Region
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showRegion"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Region
          </button>
        {{/if}}
        {{#if showingGender }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideGender"}}>
            <span class="glyphicon glyphicon-eye-close"></span> Gender
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showGender"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Gender
          </button>
        {{/if}}
        {{#if showingLanguage }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideLanguage"}}>
            <span class="glyphicon glyphicon-eye-close"></span> Language
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showLanguage"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Language
          </button>
        {{/if}}
        {{#if showingRanking }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideRanking"}} >
            <span class="glyphicon glyphicon-eye-close"></span> Rankings
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showRanking"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Rankings
          </button>
        {{/if}}
        </div>

      </div>

    </div><!--- ending col-sm-12 -->
  </div><!--- ending table toggle row -->

  <div class="row">

      <table id="allocation" class="table table-bordered" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th {{action "sortBy" "venue"}} class="head-sortable head-venue" data-toggle="tooltip" data-placement="top" title="Venue">
              Venue {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByVenue}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByVenue}}></span>
              {{/if}}
            </th>
            <th {{action "sortBy" "points"}} class="head-sortable head-points text-center" data-toggle="tooltip" data-placement="top" title="Points">
              Points {{#if sortAscending}}
                  <span class="glyphicon glyphicon-chevron-up" active={{sortedByPoints}}></span>
                {{else}}
                  <span class="glyphicon glyphicon-chevron-down" active={{sortedByPoints}}></span>
                {{/if}}
            </th>
            <th {{action "sortBy" "weight"}} class="head-sortable head-weight text-center" data-toggle="tooltip" data-placement="top" title="Weight">
              Weight {{#if sortAscending}}
                  <span class="glyphicon glyphicon-chevron-up" active={{sortedByWeight}}></span>
                {{else}}
                  <span class="glyphicon glyphicon-chevron-down" active={{sortedByWeight}}></span>
                {{/if}}
            </th>
            <th {{action "sortBy" "importance"}} class="head-sortable head-importance" data-toggle="tooltip" data-placement="top" title="Importance">
              VIP {{#if sortAscending}}
                  <span class="glyphicon glyphicon-chevron-up" active={{sortedByImportance}}></span>
                {{else}}
                  <span class="glyphicon glyphicon-chevron-down" active={{sortedByImportance}}></span>
                {{/if}}
            </th>
            <th class="head-importance-edit preallocation">
              Edit VIP
            </th>
            <th class="head-og">OG</th>
            <th class="head-oo">OO</th>
            <th class="head-cg">CO</th>
            <th class="head-co">CG</th>
            <th class="head-bans preallocation">Bans</th>
            <th class="head-locks preallocation">Locks</th>
            <th class="head-panel allocation hidden">

              <div class="flex-icon head-language" data-toggle="tooltip" data-placement="top" title="Allocation">A</div>
              <div class="flex-icon head-language" data-toggle="tooltip" data-placement="top" title="Language Representation">RR</div>
              <div class="flex-icon head-regional" data-toggle="tooltip" data-placement="top" title="Regional Representation">RR</div>
              <div class="flex-icon head-gender" data-toggle="tooltip" data-placement="top" title="Gender Representation">GR</div>
              <div class="flex-icon head-adjudicators" {{action "sortBy" "panel"}}  data-toggle="tooltip" data-placement="top" title="Panel Strength">PS</div>
              <div class="flex-1 text-center">
                Chair
              </div>
              <div class="flex-2 text-center">
                Panel
              </div>
              <div class="flex-1 text-center">
                Trainee
              </div>
              <div class="flex-icon">

              </div>
            </th>
          </tr>
        </thead>
        <tbody>

        {{#each filteredDebates as |debate-instance|}}
            {{debate-ui debate=debate-instance adjudicators=model.adjudicators allocations=model.allocations}}
        {{/each}}

        </tbody>
      </table>

  </div><!--- ending table row -->

</div><!--- ending main -->

{{allocation-config config=model.config }}

{{unused-ui adjudicators=model.adjudicators }}
