<td>{{ debate.venue }}</td>
<td>{{ debate.points }}</td>
<td>{{ input type="number" value=debate.importance }}</td>
<td>{{ debate.og.name }}</td>
<td>{{ debate.oo.name }}</td>
<td>{{ debate.cg.name }}</td>
<td>{{ debate.co.name }}</td>
<td></td>
<td></td>
