<td class="debate-venue">
    <small>{{ debate.venue }}</small>
</td>
<td class="debate-points text-center">
    {{ debate.points }}
</td>
<td class="debate-importance">
    {{ input type="number" value=debate.importance }}
</td>
<td class="debate-og debate-team text-center gender-{{ debate.og.gender }} region-{{ debate.og.institution.region.id }}">
    {{ debate.og.name }}
</td>
<td class="debate-oo debate-team text-center gender-{{ debate.oo.gender }} region-{{ debate.oo.institution.region.id }}">
    {{ debate.oo.name }}
</td>
<td class="debate-cg debate-team text-center gender-{{ debate.cg.gender }} region-{{ debate.cg.institution.region.id }}">
    {{ debate.cg.name }}
</td>
<td class="debate-co debate-team text-center gender-{{ debate.co.gender }} region-{{ debate.co.institution.region.id }}">
    {{ debate.co.name }}
</td>
<td class="debate-regional-strength text-center ">

</td>
<td class="debate-gender-strength text-center ">

</td>
<td class="debate-panel-strength text-center ">
    {{ debate.panel.rating }}
</td>
<td class="debate-panel">
    {{panel-ui panel=debate.panel}}
</td>
