<header class="navbar navbar-default navbar-static-top">
<div class="container-fluid">

  <div class="nav navbar-nav navbar-form btn-group">
    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">
      Set Parameters
    </button>
    <button type="submit" class="btn btn-default" {{action "startNewAllocation"}}>
      Create Allocation
    </button>
  </div>

  <ul class="nav navbar-nav">
    <li class="nav-item active lock-ban-nav allocation-nav-{{allocation.id}}" {{action "showLockAndBans" allocation.id }}>
      <a href="#">Lock/Ban Allocations</a>
    </li>
    {{#each allocations as |allocation| }}
      <li class="nav-item active allocation-nav allocation-nav-{{allocation.id}}" {{action "showAllocation" allocation.id }}>
        <a href="#">Allocation {{ allocation.id }}</a>
      </li>
    {{/each}}
  </ul>

  <div class="form-inline pull-right navbar-form">
    <button type="submit" class="btn btn-default">
      Export Allocation
    </button>
  </div>

</div>
</header>