<div id="main" class="container-fluid">


  <div class="row">
    <div class="col-sm-12">

    {{representations-ui config=config}}

    </div>
  </div>


  <div class="row preallocation">

    <table id="grouping" class="table table-bordered" cellpadding="0" cellspacing="0">
      <thead>
          <tr>
            <th class="text-center">
              Groups
            </th>
          </tr>
        </thead>
      <tbody>
        <tr>
          {{#each groups as |group|}}
            {{group-ui group=group adjudicators=adjudicators}}
          {{/each}}
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row">

      <table id="allocation" class="table table-bordered" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th {{action "sortBy" "venue"}} class="head-sortable text-center head-venue preallocation">
              <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="top" title="Venue">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByVenue}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByVenue}}></span>
              {{/if}}
              </span>
            </th>
            <th {{action "sortBy" "points"}} class="head-sortable head-points text-center preallocation">
              <span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="top" title="Points">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByPoints}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByPoints}}></span>
              {{/if}}
              </span>
            </th>
            <th {{action "sortBy" "weight"}} class="head-sortable head-weight text-center preallocation" >
              <span class="glyphicon glyphicon glyphicon-fire" data-toggle="tooltip" data-placement="top" title="Weight">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByWeight}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByWeight}}></span>
              {{/if}}
              </span>
            </th>
            <th {{action "sortBy" "importance"}} class="head-sortable text-center head-importance" >
              <span class="glyphicon glyphicon-dashboard" data-toggle="tooltip" data-placement="top" title="Importance">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByImportance}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByImportance}}></span>
              {{/if}}
              </span>
            </th>
            <th class="head-importance-edit preallocation">
              <span data-toggle="tooltip" data-placement="top" title="Edit Importance">
                Edit Importance
              </span>
            </th>
            <th class="head-og">OG</th>
            <th class="head-oo">OO</th>
            <th class="head-cg">CO</th>
            <th class="head-co">CG</th>
            <th class="head-bans preallocation" data-toggle="tooltip" data-placement="top" title="Adjs dragged here will be blocked from seing this debate">
              Bans
            </th>
            <th class="head-locks preallocation" data-toggle="tooltip" data-placement="top" title="Adjs dragged here will be allocated to this debate">
              Locks
            </th>
            <th class="head-panel allocation hidden">

              <div class="flex-icon" data-toggle="tooltip" data-placement="top" title="Allocation Iteration">
                <span class="glyphicon glyphicon-tasks"></span>
              </div>
              <div class="flex-icon head-language" data-toggle="tooltip" data-placement="top" title="Language Representation">
                <span class="glyphicon glyphicon-comment"></span>
              </div>
              <div class="flex-icon head-regional" data-toggle="tooltip" data-placement="top" title="Regional Representation">
                <span class="glyphicon glyphicon-globe"></span>
              </div>
              <div class="flex-icon head-gender" data-toggle="tooltip" data-placement="top" title="Gender Representation">
                <span class="glyphicon glyphicon-queen"></span>
              </div>
              <div class="flex-icon head-strength" {{action "sortBy" "panel"}}  data-toggle="tooltip" data-placement="top" title="Panel Strength">
                <span class="glyphicon glyphicon-stats"></span>
              </div>
              <div class="flex-1 ">
                Chair
              </div>
              <div class="flex-2 ">
                Panel
              </div>
              <div class="flex-1">
                Trainees
              </div>
              <div class="flex-icon">

              </div>
            </th>
          </tr>
        </thead>
        <tbody>

        {{#each filteredDebates as |debate-instance|}}
            {{debate-ui debate=debate-instance adjudicators=adjudicators allocations=allocations}}
        {{/each}}

        <!-- ticker for input ranges -->
        <datalist id="debate-ticks">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </datalist>

        </tbody>
      </table>

  </div><!--- ending table row -->


</div><!--- ending main -->