<div id="main" class="container-fluid">

  <div class="row">

      <div class="form-group col-sm-2">
        <div class="input-group input-group-sm">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
          {{input value=theFilter type='text' class="form-control col-sm-10" placeholder='Search'}}
        </div>
      </div>

      <div class="btn-toolbar col-sm-10">

        <div class="pull-right btn-group btn-group-sm">
        {{#if showingRegion }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideRegion"}}>
            <span class="glyphicon glyphicon-eye-close"></span> Region
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showRegion"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Region
          </button>
        {{/if}}
        {{#if showingGender }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideGender"}}>
            <span class="glyphicon glyphicon-eye-close"></span> Gender
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showGender"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Gender
          </button>
        {{/if}}
        {{#if showingLanguage }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideLanguage"}}>
            <span class="glyphicon glyphicon-eye-close"></span> Language
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showLanguage"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Language
          </button>
        {{/if}}
        {{#if showingRanking }}
          <button class="btn btn-default nav-link hoverable active" onclick={{action "hideRanking"}} >
            <span class="glyphicon glyphicon-eye-close"></span> Rankings
          </button>
        {{else}}
          <button class="btn btn-default nav-link hoverable" onclick={{action "showRanking"}}>
            <span class="glyphicon glyphicon glyphicon-eye-open"></span> Rankings
          </button>
        {{/if}}
        </div>

        <div class="btn-group-sm btn-group pull-right" id="conflictsKey" style="display: none;">
          <button class="btn btn-default institution-conflict-key">Institutional</button>
          <button class="btn btn-default team-conflict-key">Personal</button>
          <button class="btn btn-default team-conflict-key">History</button>
        </div>

        {{#if showingGender }}
        <div class="btn-group-sm btn-group pull-right hover-key">
          <button class="btn btn-default gender-display gender-0">None</button>
          <button class="btn btn-default gender-display gender-1">Male</button>
          <button class="btn btn-default gender-display gender-3">Male+Female</button>
          <button class="btn btn-default gender-display gender-2">Female</button>
        </div>
        {{/if}}

        {{#if showingRegion }}
        <div class="btn-group-sm btn-group pull-right hover-key">
          <button class="btn btn-default region-display region-9">Europe</button>
          <button class="btn btn-default region-display region-10">IONA</button>
          <button class="btn btn-default region-display region-6">Oceania</button>
          <button class="btn btn-default region-display region-7">N. America</button>
          <button class="btn btn-default region-display region-2">SE. Asia</button>
          <button class="btn btn-default region-display region-1">N. Asia</button>
          <button class="btn btn-default region-display region-4">S. Asia</button>
          <button class="btn btn-default region-display region-3">Middle East</button>
          <button class="btn btn-default region-display region-8">L. America</button>
          <button class="btn btn-default region-display region-5">Africa</button>
          <button class="btn btn-default region-display multiple-regions">Multiple</button>
        </div>
        {{/if}}

        {{#if showingLanguage }}
        <div class="btn-group-sm btn-group pull-right hover-key">
          <button class="btn btn-default language-display language-1">EPL</button>
          <button class="btn btn-default language-display language-2">ESL</button>
          <button class="btn btn-default language-display language-3">EFL</button>
        </div>
        {{/if}}

      </div>

  </div><!--- ending table toggle row -->

  <div class="row preallocation">

    <table id="groupings" class="table table-bordered" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th class="head-panel">
            <div class="flex-1 ">
              Chair
            </div>
            <div class="flex-2 ">
              Panel
            </div>
            <div class="flex-1">
              Trainees
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="debate-panel allocation">
            {{panel-ui panel=panel adjudicators=''}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="row">

      <table id="allocation" class="table table-bordered" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th {{action "sortBy" "venue"}} class="head-sortable text-center head-venue preallocation">
              <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="top" title="Venue">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByVenue}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByVenue}}></span>
              {{/if}}
              </span>
            </th>
            <th {{action "sortBy" "points"}} class="head-sortable head-points text-center preallocation">
              <span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="top" title="Points">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByPoints}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByPoints}}></span>
              {{/if}}
              </span>
            </th>
            <th {{action "sortBy" "weight"}} class="head-sortable head-weight text-center preallocation" >
              <span class="glyphicon glyphicon glyphicon-fire" data-toggle="tooltip" data-placement="top" title="Weight">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByWeight}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByWeight}}></span>
              {{/if}}
              </span>
            </th>
            <th {{action "sortBy" "importance"}} class="head-sortable text-center head-importance" >
              <span class="glyphicon glyphicon-dashboard" data-toggle="tooltip" data-placement="top" title="Importance">
              {{#if sortAscending}}
                <span class="glyphicon glyphicon-chevron-up" active={{sortedByImportance}}></span>
              {{else}}
                <span class="glyphicon glyphicon-chevron-down" active={{sortedByImportance}}></span>
              {{/if}}
              </span>
            </th>
            <th class="head-importance-edit preallocation">
              <span data-toggle="tooltip" data-placement="top" title="Edit Importance">
                Edit Importance
              </span>
            </th>
            <th class="head-og">OG</th>
            <th class="head-oo">OO</th>
            <th class="head-cg">CO</th>
            <th class="head-co">CG</th>
            <th class="head-bans preallocation">Bans</th>
            <th class="head-locks preallocation">Locks</th>
            <th class="head-panel allocation hidden">

              <div class="flex-icon" data-toggle="tooltip" data-placement="top" title="Allocation Iteration">
                <span class="glyphicon glyphicon-tasks"></span>
              </div>
              <div class="flex-icon head-language" data-toggle="tooltip" data-placement="top" title="Language Representation">
                <span class="glyphicon glyphicon-comment"></span>
              </div>
              <div class="flex-icon head-regional" data-toggle="tooltip" data-placement="top" title="Regional Representation">
                <span class="glyphicon glyphicon-globe"></span>
              </div>
              <div class="flex-icon head-gender" data-toggle="tooltip" data-placement="top" title="Gender Representation">
                <span class="glyphicon glyphicon-queen"></span>
              </div>
              <div class="flex-icon head-strength" {{action "sortBy" "panel"}}  data-toggle="tooltip" data-placement="top" title="Panel Strength">
                <span class="glyphicon glyphicon-stats"></span>
              </div>
              <div class="flex-1 ">
                Chair
              </div>
              <div class="flex-2 ">
                Panel
              </div>
              <div class="flex-1">
                Trainees
              </div>
              <div class="flex-icon">

              </div>
            </th>
          </tr>
        </thead>
        <tbody>

        {{#each filteredDebates as |debate-instance|}}
            {{debate-ui debate=debate-instance adjudicators=adjudicators allocations=allocations}}
        {{/each}}

        <!-- ticker for input ranges -->
        <datalist id="debate-ticks">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </datalist>

        </tbody>
      </table>

  </div><!--- ending table row -->

</div><!--- ending main -->