<header class="navbar navbar-default navbar-static-top">
<div class="container-fluid">

  <div class="nav navbar-nav navbar-form btn-group">
    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#setAllocationParameters">
      Set Parameters
    </button>
    <button type="submit" class="btn btn-default" {{action "startNewAllocation"}}>
      Create Allocation
    </button>
  </div>

  <div class="form-inline pull-left navbar-form">
    {{#if showingLockBans }}
      <button class="active btn btn-default lock-ban-nav" {{action "showLockAndBans" }}>
        <span class="glyphicon glyphicon-eye-close"></span>
         Locks, Bans, & Groups
      </button>
    {{else}}
      <button class="btn btn-default lock-ban-nav" {{action "showLockAndBans" }}>
        <span class="glyphicon glyphicon-eye-open"></span>
         Locks, Bans, & Groups
      </button>
    {{/if}}
    {{#each allocations as |allocation| }}
      <button class="btn btn-default active allocation-nav allocation-nav-{{allocation.id}}" {{action "showAllocation" allocation.id }}>
        <span class="glyphicon glyphicon-eye-close"></span><span class="glyphicon glyphicon-eye-open hidden"></span>
          Allocation {{ allocation.id }}
      </button>
    {{/each}}
  </div>

  <div class="form-inline pull-right navbar-form">
    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#exportAllocation">
      Export Allocation
    </button>
  </div>

</div>
</header>