<div class="debate-language-strength text-center flex-icon panel-stats">
  {{ panel.allocation.id }}
</div>
<div class="debate-language-strength text-center flex-icon panel-stats">
  {{#if panel.regionalRepresentation }}
    {{panel.regionalRepresentationStr }}
  {{else}}
    .
  {{/if}}
</div>
<div class="debate-regional-strength text-center flex-icon panel-stats">
  {{#if panel.genderRepresentation }}
    {{panel.genderRepresentationStr }}
  {{else}}
    .
  {{/if}}
</div>
<div class="debate-gender-strength text-center flex-icon panel-stats">
  {{#if panel.languageRepresentation }}
    {{panel.languageRepresentationStr }}
  {{else}}
    .
  {{/if}}
</div>
<div class="debate-panel-strength text-center flex-icon panel-stats">
  {{ panel.ranking }}
</div>
<div class="panel-ui">
    {{position-ui adjudicators=adjudicators panel=panel type="chair" isChairPosition=true }}
    {{position-ui adjudicators=adjudicators panel=panel type="panellists" isPanellistsPosition=true }}
    {{position-ui adjudicators=adjudicators panel=panel type="trainees" isTraineesPosition=true }}
    <div class="js-drag-handle flex-icon flex-icon">
      <span class="glyphicon glyphicon-align-justify"></span>
    </div>
</div>