
{{ team.name }}

<div class="hover-panel" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">{{ team.name }}</h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item uppercase">
                {{ team.institution.name }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-queen text-muted pull-right"></span> {{ team.genderName }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-comment text-muted pull-right"></span> {{ team.languageName }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-globe text-muted pull-right"></span> {{ team.regionName }}
            </li>
            {{#if team.adjConflicts }}
            <li class="list-group-item">
                <span class="glyphicon glyphicon-remove text-muted pull-right"></span>
                {{#each team.adjConflicts as |conflict| }}
                    {{conflict.adjudicator.name }}
                {{/each}}
            </li>
            {{/if}}
        </ul>
    </div>
</div>
