{{#if adj}}

<div class="flex-1">
    <span class="adj-name">
        {{ adj.short_name }}
    </span>
    <span class="text-uppercase adj-institution">
        {{ adj.institution.short_code }}
    </span>
</div>
<div class="flex-icon flex-icon adj-ranking">
    <span>
        <strong>{{ adj.get_ranking }}</strong>
    </span>
</div>

<div class="hover-panel" style="display: none;">
    <div class="panel panel-default">

        <ul class="list-group">
            <li class="list-group-item text-center">
                <strong>{{ adj.name }}</strong> of <strong>{{ adj.institution.name }}</strong>
            </li>
            <li class="list-group-item btn-toolbar-holder">

                <div class="btn-toolbar pull-left">
                    <div class="btn-group" role="group">
                        <div class="btn btn-default btn-sm region-display {{ region }}">
                            <span class="glyphicon glyphicon-globe"></span>
                        </div>
                        <div class="btn btn-default btn-sm region-display {{ region }}">
                            {{ adj.regionName }}
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <div class="btn btn-default btn-sm gender-display gender-{{adj.gender}}">
                            <span class="glyphicon glyphicon-queen"></span>
                        </div>
                        <div class="btn btn-default btn-sm gender-display gender-{{adj.gender}}">
                            {{ adj.genderName }}
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <div class="btn btn-default btn-sm language-display language-{{adj.language}}">
                            <span class="glyphicon glyphicon-comment"></span>
                        </div>
                        <div class="btn btn-default btn-sm language-display language-{{adj.language}}">
                            {{ adj.languageName }}
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <div class="btn btn-default btn-sm  ranking-display {{ ranking }}">
                            <span class="glyphicon glyphicon-stats"></span>
                        </div>
                        <div class="btn btn-default btn-sm  ranking-display {{ ranking }}">
                            {{ adj.get_ranking }}
                        </div>
                    </div>
                </div>

                <div class="btn-toolbar pull-right">
                    {{#if adj.teamAdjConflicts }}
                        <div class="btn-group" role="group">
                            {{#each adj.teamAdjConflicts as |conflict| }}
                                {{#if conflict.panelActive }}
                                    <div class="popover-highlight btn btn-default btn-sm panel-adj-team-conflict">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                    <div class="popover-highlight btn btn-default btn-sm panel-adj-team-conflict">
                                        {{conflict.team.name}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if adj.hasInstitutionalConflict }}
                        <div class="btn-group" role="group">
                            <div class="popover-highlight btn btn-default btn-sm panel-institution-conflict">
                                <span class="glyphicon glyphicon-remove"></span>
                            </div>
                            <div class="popover-highlight btn btn-default btn-sm panel-institution-conflict">
                                {{adj.institution.name}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if adj.adjAdjConflicts }}
                        <div class="btn-group" role="group">
                            {{#each adj.adjAdjConflicts as |conflict| }}
                                {{#if conflict.panelActive }}
                                    <div class="popover-highlight btn btn-default panel-team-adj-conflict btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                    <div class="popover-highlight btn btn-default panel-team-adj-conflict btn-sm">
                                        {{conflict.adj1.name}} {{conflict.adj2.name}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if adj.teamAdjHistories }}
                        <div class="btn-group" role="group">
                            {{#each adj.teamAdjHistories as |history| }}
                                {{#if history.panelActive }}
                                    <div class="popover-highlight btn btn-default panel-team-adj-history btn-sm">
                                        <span class="glyphicon glyphicon-time"></span>{{history.rounds}}
                                    </div>
                                    <div class="popover-highlight btn btn-default panel-team-adj-history btn-sm">
                                        {{history.team.name }}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if adj.adjAdjHistories }}
                        <div class="btn-group" role="group">
                            {{#each adj.adjAdjHistories as |history| }}
                                {{#if history.panelActive }}
                                    <div class="popover-highlight btn btn-default panel-adj-adj-history btn-sm">
                                        <span class="glyphicon glyphicon-time"></span>{{history.rounds}}
                                    </div>
                                    <div class="popover-highlight btn btn-default panel-adj-adj-history btn-sm">
                                        {{ history.adj1.short_name }} {{ history.adj2.short_name }}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}

                </div>
            </li>
        </ul>

    </div>
</div>

{{/if}}

