{{#if adj}}

<div class="flex-1">
    <span class="adj-name">
        {{ adj.short_name }}
    </span>
    <span class="text-uppercase adj-institution">
        {{ adj.institution.code }}
    </span>
</div>
<div class="flex-icon flex-icon adj-ranking">
    <span>
        <strong>{{ adj.get_ranking }}</strong>
    </span>
</div>

<div class="hover-panel" style="display: none;">
    <div class="panel panel-default">

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <strong>{{ adj.name }}</strong> of <strong>{{ adj.institution.name }}</strong>
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-globe text-muted"></span> {{ adj.regionName }}
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-queen text-muted"></span> {{ adj.genderName }}
                    </div>
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-comment text-muted"></span> {{ adj.languageName }}
                    </div>
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-stats text-muted"></span> {{ adj.get_ranking }}
                    </div>
                </div>
            </li>

            <li class="list-group-item btn-toolbar-holder">
                <div class="btn-toolbar">
                    <div class="btn-group" role="group">
                        {{#if adj.teamAdjConflicts }}
                            {{#each adj.teamAdjConflicts as |conflict| }}
                                {{#if conflict.panelActive }}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-danger glyphicon glyphicon-remove"></span>
                                    </div>
                                    <div class="btn btn-default btn-sm panel-team-conflict">{{conflict.team.name}}</div>
                                {{else}}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-danger glyphicon glyphicon-remove"></span>
                                    </div>
                                    <div class="btn btn-default btn-sm">{{conflict.team.name}}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                    <div class="btn-group" role="group">
                        {{#if adj.adjAdjConflicts }}
                            {{#each adj.adjAdjConflicts as |conflict| }}
                                {{#if conflict.panelActive }}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-danger glyphicon glyphicon-remove"></span>
                                    </div>
                                    <div class="btn btn-default panel-adj-conflict btn-sm">{{conflict.adj1.name}} {{conflict.adj2.name}}</div>
                                {{else}}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-danger glyphicon glyphicon-remove"></span>
                                    </div>
                                    <div class="btn btn-default btn-sm">{{conflict.adj1.name}} {{conflict.adj2.name}}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                    <div class="btn-group" role="group">
                        {{#if adj.teamAdjHistories }}
                            {{#each adj.teamAdjHistories as |history| }}
                                {{#if teamHistory.panelActive }}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-primary">
                                            <span class="glyphicon glyphicon-time"></span> {{history.rounds}}
                                        </span>
                                    </div>
                                    <div class="btn btn-default panel-history-conflict btn-sm">{{history.team.name }}</div>
                                {{else}}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-primary">
                                            <span class="glyphicon glyphicon-time"></span> {{history.rounds}}
                                        </span>
                                    </div>
                                    <div class="btn btn-default btn-sm">{{history.team.name }}</div>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            <div class="btn btn-default btn-sm">None</div>
                        {{/if}}
                        {{#if adj.adjAdjHistory }}
                            {{#each adj.adjAdjHistory as |history| }}
                                {{#if historyWrap.panelActive }}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-primary">
                                            <span class="glyphicon glyphicon-time"></span> {{history.round}}
                                        </span>
                                    </div>
                                    <div class="btn btn-default panel-history-conflict btn-sm">{{ history.adj1.short_name }} {{ history.adj2.short_name }}</div>
                                {{else}}
                                    <div class="btn btn-default btn-sm">
                                        <span class="text-primary">
                                            <span class="glyphicon glyphicon-time"></span> {{history.round}}
                                        </span>
                                    </div>
                                    <div class="btn btn-default btn-sm">{{ history.adj1.short_name }} {{ history.adj2.short_name }}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>

{{/if}}

