<td class="debate-points text-center preallocation">
    {{ debate.points }}
</td>
<td class="debate-weight text-center preallocation">
    {{ debate.weightRounded }}
</td>
<td class="debate-importance text-center preallocation ranking-{{ debate.importanceClass }}">
    {{ debate.importance }}
</td>
<td class="debate-importance text-center allocation hidden ranking-{{ debate.importanceClass }}">
    {{ debate.importance }}
</td>
<td class="debate-importance-edit preallocation">
    {{input type="range" min="-5" list="debate-ticks" max="5" step="1" value=debate.importanceModifier class="" }}
</td>
<td class="debate-deficit text-center debate-quality-deficits" style="display: none;">
    {{ debate.qualitydeficit }}
</td>
<td class="debate-deficit text-center debate-gender-deficits" style="display: none;">
    {{ debate.genderdeficit }}
</td>
<td class="debate-deficit text-center debate-language-deficits" style="display: none;">
    {{ debate.languagedeficit }}
</td>
<td class="debate-deficit text-center debate-regional-deficits" style="display: none;">
    {{ debate.regionaldeficit }}
</td>
{{#each debate.teams as |team|}}
    {{model/team-ui team=team}}
{{/each}}
{{model/bans-ui debate=debate adjudicators=adjudicators}}
{{model/locks-ui debate=debate adjudicators=adjudicators}}
{{#if debate.panels }}
    <td class="debate-panel-holder">
        {{#each debate.panels as |panel|}}
            {{#if panel.allocation.active }}
                {{panel-ui panel=panel adjudicators=adjudicators}}
            {{/if}}
        {{/each}}
    </td>
{{else}}
    <td class="debate-panel allocation hidden"></td>
{{/if}}