<td class="debate-venue preallocation">
    <small>{{ debate.venue }}</small>
</td>
<td class="debate-points text-center preallocation">
    {{ debate.points }}
</td>
<td class="debate-weight text-center preallocation">
    {{ debate.weightRounded }}
</td>
<td class="debate-importance text-center ranking-display preallocation ranking-{{ debate.rankingClass }}">
    {{ debate.importance }}
</td>
<td class="debate-importance text-center allocation hidden ranking-{{ debate.rankingClass }}">
    {{ debate.importance }}
</td>
<td class="debate-importance-edit preallocation">
    {{input type="range" min="1" list="debate-ticks" max="10" step="1" value=debate.importance class="" }}
</td>
{{model/team-ui team=debate.og}}
{{model/team-ui team=debate.oo}}
{{model/team-ui team=debate.cg}}
{{model/team-ui team=debate.co}}
{{model/bans-ui debate=debate adjudicators=adjudicators}}
{{model/locks-ui debate=debate adjudicators=adjudicators}}
{{#if debate.panels }}
    <td class="debate-panel-holder">
        {{#each debate.panels as |panel|}}
            {{#if panel.allocation.active }}
                {{panel-ui panel=panel adjudicators=adjudicators}}
            {{/if}}
        {{/each}}
    </td>
{{else}}
    <td class="debate-panel allocation hidden"></td>
{{/if}}


