
{{ team.name }}

<div class="hover-panel" style="display: none;">
    <div class="panel panel-default">

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-5">
                        <strong>{{ team.name }}</strong> of <strong>{{ team.institution.name }}</strong>
                        Points {{ team.points }}
                        deficit: {{ team.genderdeficit }}
                        deficit: {{ team.languagedeficit }}
                        deficit: {{ team.qualitydeficit }}
                        deficit: {{ team.regionaldeficit }}
                    </div>
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-globe text-muted"> </span> {{ team.regionName }}
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-queen text-muted"> </span> {{ team.genderName }}
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-comment text-muted"> </span> {{ team.languageName }}
                    </div>
                </div>
            </li>
            <li class="list-group-item btn-toolbar-holder">
                <div class="btn-toolbar">
                    {{#if team.teamAdjConflicts }}
                        <div class="btn-group" role="group">
                            {{#each team.teamAdjConflicts as |conflict| }}
                                {{#if conflict.panelActive }}
                                    <div class="popover-highlight btn btn-default btn-sm panel-team-adj-conflict">
                                        <span class="glyphicon glyphicon-remove"> </span> {{conflict.adjudicator.name}}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if team.hasInstitutionalConflict }}
                        <div class="btn-group" role="group">
                            <div class="popover-highlight btn btn-default btn-sm panel-institution-conflict">
                                <span class="glyphicon glyphicon-remove"></span> {{team.institution.name}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if team.teamAdjHistories }}
                        <div class="btn-group" role="group">
                            {{#each team.teamAdjHistories as |history| }}
                                {{#if history.panelActive }}
                                    <div class="popover-highlight btn btn-default btn-sm panel-team-adj-history">
                                        <span class="glyphicon glyphicon-time"></span> {{history.rounds }} {{history.adjudicator.short_name }}
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </li>
        </ul>

    </div>
</div>
